#shootingstars{
    background: url("../img/BackgroundScreen.png");
    background-size: cover;
}

.gamebox{
    margin-top: 20px;
    padding: 20px;
    color: white;
}
.img-headline{
    width: 45%;
}

.margin-all {
    padding: 10px;   
    max-width: 100%;
    max-height: 350px;
}

.slides-border{
    /*border: 5px solid white;*/
    background-color: rgba(255, 255, 255, 0.2);
}

.star-list {
    list-style-image: url("../img/shootingstars/StarBig_happy.png");
}

li {
    margin-bottom: 15px;
}

.foreground{
    z-index: 100;
}